<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chillmaaroo.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chill Maaroo</name>
    <description>
        Simple app for Chilling out.
    </description>
    <author email="abhastandon007@gmail.com" href="http://cwithabhas.com">
        Abhas Tandon
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
              <icon src="res/icon.png" density="ldpi" />
              <icon src="res/icon.png" density="mdpi" />
              <icon src="res/icon.png" density="hdpi" />
              <icon src="res/icon.png" density="xhdpi" />
     </platform>
</widget>
